/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/sd-business/.settings/org.eclipse.core.resources.prefs
/sd-business/.settings/org.eclipse.jdt.core.prefs
/sd-business/.settings/org.eclipse.m2e.core.prefs
/sd-dao/.settings/org.eclipse.core.resources.prefs
/sd-dao/.settings/org.eclipse.jdt.core.prefs
/sd-dao/.settings/org.eclipse.m2e.core.prefs
/sd-hadoop/.settings/org.eclipse.core.resources.prefs
/sd-hadoop/.settings/org.eclipse.jdt.core.prefs
/sd-hadoop/.settings/org.eclipse.m2e.core.prefs
/sd-infra/.settings/org.eclipse.core.resources.prefs
/sd-infra/.settings/org.eclipse.jdt.core.prefs
/sd-infra/.settings/org.eclipse.m2e.core.prefs
/sd-request/.settings/org.eclipse.core.resources.prefs
/sd-request/.settings/org.eclipse.jdt.core.prefs
/sd-request/.settings/org.eclipse.m2e.core.prefs
/sd-service/.settings/org.eclipse.core.resources.prefs
/sd-service/.settings/org.eclipse.jdt.core.prefs
/sd-service/.settings/org.eclipse.m2e.core.prefs
/sd-web/.settings/org.eclipse.jdt.core.prefs
/sd-web/.settings/org.eclipse.m2e.core.prefs
target/
.classpath
.claspath
/bin
.component
.prefs
